.form-group.well
  = form_for(@yandex_campaign) do |f|
    - if @yandex_campaign.errors.any?
      #error_explanation
        %h2
          = pluralize(@yandex_campaign.errors.count, "error")
          prohibited this yandex_campaign from being saved:
        %ul
          - @yandex_campaign.errors.full_messages.each do |message|
            %li= message
    .field
      = f.label "Имя"
      %br/
      = f.text_field :name, class: "form-control"
    .field
      = f.label "Стратегия"
      %br/
      = f.text_field :strategy_name, value: "HighestPosition", class: "form-control"

    %br
    .actions
      = f.submit "Сохранить", class: "btn btn-success"