%h1 Список кампаний
%table.table.table-hover
  %thead
    %tr
      %th id
      %th id (Yandex)
      %th Имя
      %th Стратегия
      %th{:colspan => "3"}
  %tbody
    - @yandex_campaigns.each do |yandex_campaign|
      %tr
        %td= yandex_campaign.id
        %td= yandex_campaign.campaign_id
        %td= yandex_campaign.name
        %td= Yandex::Strategy::StrategyNames[yandex_campaign.strategy.try(:name)]
        %td= link_to 'Edit', edit_yandex_campaign_path(yandex_campaign)
        %td= link_to 'Show', yandex_campaign
        %td= link_to 'Destroy', yandex_campaign, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'Новая кампания', new_yandex_campaign_path, class: "btn btn-success"