<h1>Listing yandex_campaigns</h1>

<table>
  <thead>
    <tr>
      <th>Strategy</th>
      <th>Email notifications</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @yandex_campaigns.each do |yandex_campaign| %>
      <tr>
        <td><%= yandex_campaign.strategy %></td>
        <td><%= yandex_campaign.email_notifications %></td>
        <td><%= link_to 'Show', yandex_campaign %></td>
        <td><%= link_to 'Edit', edit_yandex_campaign_path(yandex_campaign) %></td>
        <td><%= link_to 'Destroy', yandex_campaign, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Campaign', new_yandex_campaign_path %>
