<p id="notice"><%= notice %></p>

<p>
  <strong>Strategy:</strong>
  <%= @yandex_campaign.strategy %>
</p>

<p>
  <strong>Email notifications:</strong>
  <%= @yandex_campaign.email_notifications %>
</p>

<%= link_to 'Edit', edit_yandex_campaign_path(@yandex_campaign) %> |
<%= link_to 'Back', yandex_campaigns_path %>
