%p#notice= notice
%p Информация
%table.table.table-bordered
  %thead
    %tr
      %th id
      %th id (Yandex)
      %th Имя
      %th Стратегия
      %th Статус
      %th Активность 
      %th Модерация
      %th{:colspan => "2"}
  %tbody
    %tr
      %td= @yandex_campaign.id
      %td= @yandex_campaign.campaign_id
      %td= @yandex_campaign.name
      %td= Yandex::Strategy::StrategyNames[@yandex_campaign.strategy.try(:name)]
      %td= @params['Status']
      %td= @params['IsActive']
      %td= @status_mod[@params['StatusModerate']]
      %td= link_to 'Edit', edit_yandex_campaign_path(@yandex_campaign)
      %td= link_to 'Destroy', @yandex_campaign, method: :delete, data: { confirm: 'Are you sure?' }
%p Статистика
%table.table.table-bordered
  %thead
    %tr
      %th Текущий баланс общего счета
      %th Показы за все время
      %th Клики за все время

  %tbody
    %tr
      %td= @params['Rest']
      %td= @params['Shows']
      %td= @params['Clicks']

%p Объявления

%table.table.table-bordered
  %thead
    %tr
      %th id
      %th id (Yandex)
      %th Заголовок
      %th Текст
      %th Фразы
      %th Ссылка 
      %th{:colspan => "3"}
  %tbody
    -@yandex_campaign.banners.each do |b|
      %tr
        %td= b.id
        %td= b.banner_id
        %td= b.title
        %td= b.text
        %td= b.phrases
        %td= b.href
        %td= link_to 'Edit', edit_yandex_banner_path(b)
        %td= link_to 'Destroy', b, method: :delete, data: { confirm: 'Are you sure?' }
        %td=# link_to 'Запрос', yandex_create_real_path(@yandex_campaign), class: "btn btn-primary"

= link_to 'Новое объявление', new_yandex_banner_path(campaign_id: @yandex_campaign.id), class: "btn btn-success"
%br
%br
= link_to 'Отправить данные на Yandex.Direct', yandex_create_real_path(@yandex_campaign), class: "btn btn-primary"
= link_to 'Отправить на модерацию', yandex_mod_campaign_path(@yandex_campaign), class: "btn btn-primary"

%br
%br




= link_to 'Edit', edit_yandex_campaign_path(@yandex_campaign)
|
\#{link_to 'Back', yandex_campaigns_path}