.form-group.well
  = form_for(@yandex_banner) do |f|
    - if @yandex_banner.errors.any?
      #error_explanation
        %h2
          = pluralize(@yandex_banner.errors.count, "error")
          prohibited this yandex_banner from being saved:
        %ul
          - @yandex_banner.errors.full_messages.each do |message|
            %li= message
    = f.hidden_field :campaign_id, value: params[:campaign_id]
    .field
      = f.label :title
      %br/
      = f.text_area :title, class: "form-control"
    .field
      = f.label :text
      %br/
      = f.text_area :text, class: "form-control"
    .field
      = f.label "Ключевые слова"
      %br/
      = f.text_area :phrases, class: "form-control"
    .field
      = f.label :href
      %br/
      = f.text_field :href, class: "form-control"
    .field
      = f.label :geo
      %br/
      = f.text_field :geo, class: "form-control"
    .actions
      = f.submit