<h1>Listing yandex_banners</h1>

<table>
  <thead>
    <tr>
      <th>Banner</th>
      <th>Campaign</th>
      <th>Title</th>
      <th>Text</th>
      <th>Href</th>
      <th>Geo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @yandex_banners.each do |yandex_banner| %>
      <tr>
        <td><%= yandex_banner.banner_id %></td>
        <td><%= yandex_banner.campaign %></td>
        <td><%= yandex_banner.title %></td>
        <td><%= yandex_banner.text %></td>
        <td><%= yandex_banner.href %></td>
        <td><%= yandex_banner.geo %></td>
        <td><%= link_to 'Show', yandex_banner %></td>
        <td><%= link_to 'Edit', edit_yandex_banner_path(yandex_banner) %></td>
        <td><%= link_to 'Destroy', yandex_banner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Banner', new_yandex_banner_path %>
