<p id="notice"><%= notice %></p>

<p>
  <strong>Banner:</strong>
  <%= @yandex_banner.banner_id %>
</p>

<p>
  <strong>Campaign:</strong>
  <%= @yandex_banner.campaign %>
</p>

<p>
  <strong>Title:</strong>
  <%= @yandex_banner.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @yandex_banner.text %>
</p>

<p>
  <strong>Href:</strong>
  <%= @yandex_banner.href %>
</p>

<p>
  <strong>Geo:</strong>
  <%= @yandex_banner.geo %>
</p>

<%= link_to 'Edit', edit_yandex_banner_path(@yandex_banner) %> |
<%= link_to 'Back', yandex_banners_path %>
