%html
  %head
    %title Advertisement
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %script{:src=>"//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"}
    %link{:href=>"http://bootswatch.com/yeti/bootstrap.css", :rel=>"stylesheet"}
  %body
    =# render '/layouts/metrika'
    -if user_signed_in?
      .navbar.navbar-default#navbar
        .container
          %ul.nav.navbar-nav
            %li
              %a{href: "/yandex/campaigns"} Кампании
            - if @logged_as_user
              %li=link_to "Выйти из-под #{@logged_as_user.phone}", log_out_from_user_path, method: :delete 
            -if current_user.admin?
              %li
                %a{href: "/users"} Пользователи
              %li
                %a{href: "/admin/event_logger"} Логи          
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{href: "/sign_out"} Выход
    -else
      .navbar.navbar-default#navbar
        .container
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{href: "/sign_in"} Вход   
            
    .container
      = yield

    